*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  color: #36464F;

}

.container {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color:#113F59;
}
.container > div {
    margin: auto;
}

.container h1 {
  color: #19BEC0;
  font-size: 5em;
  margin: 0;
  text-align: center;
  padding:0;
}

.container h2 {
  margin: 0;
  color: #F3EDD3;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
  padding:0;
}

.container li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container a {
  background-color: #D54F58;
  color: #F3EDD3;
  padding: 8px;
  font-weight: 900;
  border-radius: 10px;
  margin-right: 8px;

}

.forkme {
  position: fixed;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
  background-image: url(images/forkme.png);
}

.content {
  max-width: 700px;
  margin:auto;
  padding: 12px;
}

p {
  text-align: justify;
  line-height: 28px;
}

.inline-code {
  background-color: #fAfAfA;
  border:1px solid silver;
  padding: 4px;
  color: #333333;
}

pre {
  border: 1px solid #F2F2F2;
  padding: 8px;
  overflow: auto;
}

.alert {
  background-color: #E27A3F;
  color: #FFFFFF;
  margin: 24px;
  padding: 8px;
  border-radius: 8px;
}


.image{
  display: block;
  margin: 20px;
}

img {
  width: 100%;
  display: block;
  margin: 8px;
}

a {
  color: #45B29D;
  text-decoration: none;
}

li {
  margin-bottom: 15px;
}

h1 {
  color: #EFC94C;
  font-size:4em;
  font-weight: 900;
}
h2 {
  color: #DF5A49;
  font-size:2em;
  font-weight: 900;
  margin-bottom: 32px;
  margin-top: 64px;
}

h3 {
  color: #E27A3F;
  font-size:1.4em;
  font-weight: 900;
  margin_bottom: 28px;
  margin-top: 48px;
}

h4 {
  font-size:1.3em;
  font-weight: 900;
  color: #45B29D;
  margin-bottom: 18px;
  margin-top: 36px;
}

.title-container {
  margin: 26px;
}

.title-container > h1, .title-container > h2 {
  margin: 0;
  text-align: center;
}
