*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  color: #36464F;
  background-color: #113F59;
  margin: 40px 20px;
}

.container {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color:#113F59;
}
.container > div {
    margin: auto;
    height: 400px;
}

.container h1 {
  color: #19BEC0;
  font-size: 5em;
  margin: 0;
  text-align: center;
  padding:0;
}

.container h2 {
  margin: 0;
  color: #F3EDD3;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
  padding:0;
}

.container li {
  display: inline-block;
  margin-right: 12px;
  margin-top: 16px;
  padding: 0;
  text-align: center;
}

.container ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container a, .title-container a {
  background-color: #D54F58;
  color: #F3EDD3;
  padding: 8px;
  font-weight: 900;
  border-radius: 10px;
}

.title-container a {
  position: relative;
  top: -30px;
}

.forkme {
  position: fixed;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
  background-image: url(images/forkme.png);
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: #FFF;
}

.content > h2 {
  color: #FFF;
  background-color: #19BEC0;
  border-top: 10px solid #113F59;
  font-size:2em;
  font-weight: 900;
  padding: 30px 50px;
  margin: 100px -50px 30px;
  border-bottom-right-radius: 100px;
}

.content strong {
  color: #19BEC0;
}

p {
  text-align: justify;
  line-height: 28px;
}

.inline-code {
  background-color: #FFF;
  border: 1px solid silver;
  padding: 0px 6px;
  color: #333333;
  display: inline-block;
  border-radius: 4px;
  opacity: 0.8;
}

pre {
  border: 1px solid silver;
  padding: 16px;
  margin: 40px 0;
  overflow: auto;
  border-radius: 4px;
}

.alert {
  background-color: #E27A3F;
  color: #FFFFFF;
  margin: 30px;
  padding: 18px;
  border-radius: 18px;
}

.alert strong {
  color: #F3EDD3;
}

.image{
  display: block;
  margin: 40px 20px;
}

img {
  width: 100%;
  display: block;
  margin: 8px 0px;
  border: 1px solid silver;
}

a {
  color: #45B29D;
  text-decoration: none;
}

li {
  margin-bottom: 15px;
}

h1 {
  color: #EFC94C;
  font-size:4em;
  font-weight: 900;
}

h2 {
  color: #F3EDD3;
  font-size:2em;
  font-weight: 900;
}

h3 {
  color: #E27A3F;
  font-size:1.6em;
  font-weight: 900;
  margin_bottom: 50px;
  margin-top: 60px;
}

h4 {
  font-size:1.3em;
  font-weight: 900;
  color: #45B29D;
  margin-bottom: 18px;
  margin-top: 60px;
}

.title-container {
  max-width: 800px;
  margin: -30px -50px 30px;
  background-color: #19BEC0;
  padding: 30px;
}

.title-container > h1, .title-container > h2 {
  margin: 0;
  text-align: center;
}

.title-container > h1 {
  color: #113F59;
}

.title-container > h2 {
  color: #FFF;
}
