*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  color: #36464F;
  background-color: #FFF;
}

#top-pan {
    position:absolute;
    top: 0; left: 0; right: 0;
    background-color: #19BEC0;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    justify-content: space-between;

}

#top-pan img {
  margin: 5px;
}

#nav {
    display: flex;
    padding-right: 32px;
}

#nav > * {
    margin: auto;
    margin-right: 32px;
}

#nav > a {
    color: #BBEBE8;
    font-weight: 900;
}

#nav > a:hover {
    color: #FFF;
    font-weight: 900;
}

#top-pan > h1 {
    margin: auto;
    padding-left: 32px;
    width: 100%;
    text-align:left;
    font-weight: 900;
    color: #113F59;
}

#left-pan {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0px;
    width: 300px;
    background-color: #113F59;
    color: white;
    /* padding: 1%; */
    padding-top: 0;
    overflow-y: scroll;
}

#left-pan-filter {
    background-color: #113F59;
    padding: 1%;
    padding-right: 2%;
    width: 284px;
    margin-top: 12px;
    /* margin-bottom: 12px; */
    text-align: center;
}


#filters {
    width: 100%;
    padding: 8px;
    border: 0px solid red;
    border-radius: 24px;
    background-color: rgb(27,73,99);
    color: rgb(25,190,192);
}


#right-pan {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 300px;
    right: 0;
    padding: 2%;
    overflow: auto;
    display: flex;
}

#intro {
    margin: auto;
    width: 60%;
    min-width: 640px;
}

#intro > div {
    margin: auto;
    vertical-align: middle;
}
#intro > div > h1 {
    color: #D54F58;
    font-weight: 900;
    font-size: 250%;
    text-align: center;
    margin: 0;
}

#intro > div > h2 {
    text-align: center;
    margin: 0;
    color: #E27A3F;
}

p {
    text-align: justify;
}

a {
  color: #45B29D;
  text-decoration: none;
}

#left-pan-content {
    margin-top: 12px;
}

#left-pan-content > h2 {
    margin: 0;
    color: #E27A3F;
    font-size: 120%;
    margin-top: 12px;
}

#left-pan-content > ul {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}
#left-pan-content > ul > li {
    padding: 4px;
    list-style-type: none;
    font-size: 80%;
    background-color:rgb(27,73,99);
    margin: 2px;
    color: rgb(25,190,192);
}

#left-pan-content > ul > li:hover {
    color: #fff;
    cursor: pointer;
    background-color:rgb(37,83,109);
}

#left-pan-content > ul > li.current {
    color: #E27A3F;
}

.aCommand {
    /* margin: auto; */
    /* width: 60%; */
    /* min-width: 640px; */
    width:100%;
    display: none;
}

.aCommand > h1 {
    color: #E27A3F;
}


.aCommand > h2 {
    margin: 0;
}

.aCommand > .desc {
    text-align: justify;
    padding: 12px;
    border-radius: 12px;
    background-color: #BBEBE8;
    width: 100%;
}

.args {
    width: 100%;
    border-collapse: collapse;
}

.args td {
    border: 1px solid silver;
    padding: 8px;
}
.args .title {
    font-weight: 900;
    background-color: #f2f2f2;
}

.center {
    text-align: center;
}

.arginput {
    width: 100%;
    padding: 4px;
    border: 0px solid silver;
}

#buildCmd {
    margin-top: 24px;
    margin-bottom: 32px;
    margin-right: 4px;
    padding: 8px;
    border-radius: 24px;
    border: 0px solid red;
    color: #fff;
    background-color: #E27A3F;
    cursor: pointer;
}

.categoryName {
    color: #E27A3F;
}

.cmdName {
    color: #E2A03F;
}

#cleanCmd {
    margin-top: 24px;
    margin-bottom: 32px;
    padding: 8px;
    border-radius: 24px;
    border: 0px solid red;
    color: #fff;
    background-color: silver;
    cursor: pointer;
}

.sample {
  width: 65%;
  font-size: 80%;
  margin: 12px;
  margin-bottom: 32px;
}

.sample > h3 {
  font-size: 150%;
  margin: 0;
  color: #E27A3F;
  font-weight: 900;
}
